body {
  background: #111;
  margin: 0;
}

.wire-1 {
  position: absolute;
  top: 100px;
  transform: rotate(10deg);
}

.wire-2 {
  position: absolute;
  top: 100px;
  transform: rotate(-10deg);
}

.wire {
  text-align: center;
  padding: 0;
  width: 100%;
  height: 100px;
  border-bottom: 3px solid #222;
}

.wire li::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 10px;
  border-radius: 10px;
  top: -5px;
  left: 0;
  background: #444;
}

.wire li {
  position: relative;
  list-style: none;
  margin: 0 15px;
  padding: 0;
  display: inline-block;
  width: 15px;
  height: 30px;
  border-radius: 50%;
  top: 102px;
  background: #fff;
  animation-name: first-flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.wire-1 li:nth-child(3n+1) {
  animation-name: second-flash;
}

.wire-1 li:nth-child(3n+2) {
  animation-name: third-flash;
}

.wire-2 li:nth-child(3n+1) {
  animation-name: second-flash;
}

.wire-2 li:nth-child(3n+2) {
  animation-name: third-flash;
}

@keyframes first-flash {
  0% {
    background: rgba(255, 230, 65, 1);
    box-shadow: 0 2px 20px 4px rgba(255, 230, 65, 1);
  }
  33% {
    background: rgba(255, 230, 65, .5);
    box-shadow: 0 2px 20px 4px rgba(255, 230, 65, .3);
  }
  66% {
    background: rgba(255, 230, 65, .5);
    box-shadow: 0 2px 20px 4px rgba(255, 230, 65, .3);
  }
  100% {
    background: rgba(255, 230, 65, 1);
    box-shadow: 0 2px 20px 4px rgba(255, 230, 65, 1);
  }
}

@keyframes second-flash {
  0% {
    background: rgba(255, 65, 185, .5);
    box-shadow: 0 2px 20px 4px rgba(255, 65, 185, .3);
  }
  33% {
    background: rgba(255, 65, 185, 1);
    box-shadow: 0 2px 20px 4px rgba(255, 65, 185, 1);
  }
  66% {
    background: rgba(255, 65, 185, .5);
    box-shadow: 0 2px 20px 4px rgba(255, 65, 185, .3);
  }
  100% {
    background: rgba(255, 65, 185, .5);
    box-shadow: 0 2px 20px 4px rgba(255, 65, 185, .3);
  }
}

@keyframes third-flash {
  0% {
    background: rgba(65, 255, 100, .5);
    box-shadow: 0 2px 20px 4px rgba(65, 255, 100, .3);
  }
  33% {
    background: rgba(65, 255, 100, .5);
    box-shadow: 0 2px 20px 4px rgba(65, 255, 100, .3);
  }
  66% {
    background: rgba(65, 255, 100, 1);
    box-shadow: 0 2px 20px 4px rgba(65, 255, 100, 1);
  }
  100% {
    background: rgba(65, 255, 100, .5);
    box-shadow: 0 2px 20px 4px rgba(65, 255, 100, .3);
  }
}

h1 {
  position: relative;
  top: 100px;
  text-align: center;
  letter-spacing: .2em;
  font-size: 4em;
  font-family: 'Tangerine', serif;
  color: #fff;
  animation-name: text-shine;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes text-shine {
  0% {
    text-shadow: 0 0 32px rgba(255, 65, 185, 1);
  }
  33% {
    text-shadow: 0 0 32px rgba(65, 255, 100, 1);
  }
  66% {
    text-shadow: 0 0 32px rgba(255, 230, 65, 1);
  }
  100% {
    text-shadow: 0 0 32px rgba(255, 65, 185, 1);
  }
}